{{#if (has-block)}}
  {{yield this.dataKey}}
{{else}}
  {{this.dataKey}}
{{/if}}
<div
  class="erc-container"
  {{erc-container-style
    count=(get this.chartData "length")
    space=this.space
  }}
>
  {{#each this.chartData key="key" as |chart index|}}
    <div
      class="erc-bar-container"
      {{erc-bar-container-style
        index=index
        height=this.height
        space=this.space
        transitionDuration=this.positionTransitionDuration
      }}
    >
      <div class="erc-bar-key" style={{this.keyStyle}}>{{chart.key}}</div>
      <div style="flex: 1 0;display:flex;">
        <div
          class="erc-bar"
          {{erc-bar-style
            value=chart.value
            max=this.max
            barColor=(if chart.color chart.color this.barColor)
            transitionDuration=this.widthTransitionDuration
          }}
        ></div>
      </div>
      <div class="erc-bar-value">{{#if chart.formattedValue}}{{chart.formattedValue}}{{else}}{{chart.value}}{{/if}}</div>
    </div>
  {{/each}}
</div>